<a href="https://colab.research.google.com/github/maab2198/applied_ds_python/blob/master/C1_M1A2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Data Science in Python
##Week 2: Basic Data Processing with Pandas

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
path = "drive/My Drive/Colab Notebooks/C1_M1Files/"

In [0]:
import pandas as pd

df = pd.read_csv(path + 'olympics.csv', index_col=0, skiprows=1)
df.head()

                         № Summer  01 !  02 !  ...  02 !.2  03 !.2  Combined total
Afghanistan (AFG)              13     0     0  ...       0       2               2
Algeria (ALG)                  12     5     2  ...       2       8              15
Argentina (ARG)                23    18    24  ...      24      28              70
Armenia (ARM)                   5     1     2  ...       2       9              12
Australasia (ANZ) [ANZ]         2     3     4  ...       4       5              12

[5 rows x 15 columns]

In [0]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [0]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)
df.head()

                         # Summer  Gold  ...  Bronze.2  Combined total
Afghanistan (AFG)              13     0  ...         2               2
Algeria (ALG)                  12     5  ...         8              15
Argentina (ARG)                23    18  ...        28              70
Armenia (ARM)                   5     1  ...         9              12
Australasia (ANZ) [ANZ]         2     3  ...         5              12

[5 rows x 15 columns]

In [0]:

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

             # Summer  Gold  Silver  ...  Bronze.2  Combined total   ID
Afghanistan        13     0       0  ...         2               2  AFG
Algeria            12     5       2  ...         8              15  ALG
Argentina          23    18      24  ...        28              70  ARG
Armenia             5     1       2  ...         9              12  ARM
Australasia         2     3       4  ...         5              12  ANZ

[5 rows x 16 columns]

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [0]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [0]:
def answer_one():
    ser = df.loc[df["Gold"].idxmax()]
    return  ser.name

answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [0]:
def answer_two():
    max_dif = df['Gold'] - df['Gold.1']
    return max_dif.idxmax()
answer_two()

'United States'

In [0]:
# df[df['ID']=="USA"]

               # Summer  Gold  Silver  ...  Bronze.2  Combined total   ID
United States        26   976     757  ...       750            2681  USA

[1 rows x 16 columns]

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [0]:
def answer_three():
    filtred = df[(df['Gold.1'] > 0) & (df['Gold'] >0)]
    max_dif = (filtred['Gold'] - filtred['Gold.1'])/filtred['Gold.2']
    return max_dif.idxmax()
answer_three()

'Bulgaria'

In [0]:
df[df['ID']=="UKR"]

         # Summer  Gold  Silver  ...  Bronze.2  Combined total   ID
Ukraine         5    33      27  ...        59             122  UKR

[1 rows x 16 columns]

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [0]:
def answer_four():
    points = (df['Gold.2'] *3 + df['Silver.2']*2 + df['Bronze.2'])
    return points.rename("Points")
answer_four()

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Name: Points, Length: 146, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [0]:
census_df = pd.read_csv(path + 'census.csv')
census_df.head()

   SUMLEV  REGION  DIVISION  ...  RNETMIG2013  RNETMIG2014 RNETMIG2015
0      40       3         6  ...     1.383282     1.724718    0.712594
1      50       3         6  ...    -2.722002     2.592270   -2.187333
2      50       3         6  ...    22.727626    20.317142   18.293499
3      50       3         6  ...    -7.167664    -3.978583  -10.543299
4      50       3         6  ...    -5.403729     0.754533    1.107861

[5 rows x 100 columns]

In [0]:
def answer_five():
    max_id = (census_df["STATE"].value_counts()).idxmax()
    list_of_names = census_df[census_df["STATE"] == max_id]["STNAME"]
    return list_of_names.iloc[0]
answer_five()

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [0]:
def answer_six():
    copy_df = census_df.copy()
    copy_df = copy_df[copy_df["SUMLEV"] == 50]
    copy_df = copy_df.sort_values(['STATE','CENSUS2010POP'],ascending=False)
    state_list = pd.Series(index=copy_df["STNAME"].unique())
    for state in state_list.index:
      state_list[state]= (copy_df[copy_df["STNAME"] == state].iloc[0:3])['CENSUS2010POP'].sum()
    return state_list.sort_values(ascending=False).iloc[0:3].index.values.tolist()
answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [0]:
def answer_seven():
    copy = census_df.copy()
    copy = copy[copy["SUMLEV"] == 50] 
    cols_list = ["POPESTIMATE2010","POPESTIMATE2011","POPESTIMATE2012","POPESTIMATE2013","POPESTIMATE2014","POPESTIMATE2015"]
    copy["max_v"]  = copy[cols_list].max(axis=1)
    copy["min_v"] = copy[cols_list].min(axis=1)
    copy['dif'] = abs(copy["max_v"]- copy["min_v"])
    copy =  copy.sort_values('dif',ascending=False).iloc[0]["CTYNAME"]
    return copy

answer_seven()

'Harris County'

In [0]:
census_df[["CTYNAME","POPESTIMATE2010","POPESTIMATE2011","POPESTIMATE2012","POPESTIMATE2013","POPESTIMATE2014","POPESTIMATE2015"]][census_df["CTYNAME"] == "Texas"]

     CTYNAME  POPESTIMATE2010  ...  POPESTIMATE2014  POPESTIMATE2015
2566   Texas         25244363  ...         26979078         27469114

[1 rows x 7 columns]

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [0]:
def answer_eight():
  frame = census_df[((census_df["REGION"] == 1) | (census_df["REGION"] == 2)) & (census_df["POPESTIMATE2015"] > census_df["POPESTIMATE2014"])]
  return (frame[frame["CTYNAME"].str.startswith("Washington")])[['STNAME', 'CTYNAME']] 

answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County