<a href="https://colab.research.google.com/github/maab2198/applied_ds_python/blob/master/C1_M1W4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Distributions in Pandas

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
path = "drive/My Drive/Colab Notebooks/C1_M1Files/"

In [0]:
import pandas as pd
import numpy as np

In [0]:
np.random.binomial(1, 0.5)

0

In [0]:
np.random.binomial(1000, 0.5)/1000

n: the number of times we perform our experiment. In our coin example, n is equal to 20 (each experiment is 1 flip of the coin).  
p: the probability of success. For a fair coin, it would be 50%.  
k: size of simulations of flipping a fair ( tested 10000 times)

In [0]:
x = np.random.binomial(20, .5, 10000)
print(x)
print((x>=15).mean())

[ 6  6 14 ...  8 10  8]
0.0211

In [0]:
chance_of_tornado = 0.01/100
np.random.binomial(100000, chance_of_tornado)

8

Два дня подряд

In [0]:
chance_of_tornado = 0.01

tornado_events = np.random.binomial(1, chance_of_tornado, 1000000)
    
two_days_in_a_row = 0
for j in range(1,len(tornado_events)-1):
    if tornado_events[j]==1 and tornado_events[j-1]==1:
        two_days_in_a_row+=1

print('{} tornadoes back to back in {} years'.format(two_days_in_a_row, 1000000/365))

90 tornadoes back to back in 2739.72602739726 years

In [0]:
np.random.uniform(0, 1)

0.021213766275269608

In [0]:
np.random.normal(0.75)

Formula for standard deviation
$$\sqrt{\frac{1}{N} \sum_{i=1}^N (x_i - \overline{x})^2}$$

In [0]:
distribution = np.random.normal(0.75,size=1000)

np.sqrt(np.sum((np.mean(distribution)-distribution)**2)/len(distribution))

In [0]:
np.std(distribution)

In [0]:
import scipy.stats as stats
stats.kurtosis(distribution)

In [0]:
stats.skew(distribution)

In [0]:
chi_squared_df2 = np.random.chisquare(2, size=10000)
stats.skew(chi_squared_df2)

In [0]:
chi_squared_df5 = np.random.chisquare(5, size=10000)
stats.skew(chi_squared_df5)

In [0]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

output = plt.hist([chi_squared_df2,chi_squared_df5], bins=50, histtype='step', 
                  label=['2 degrees of freedom','5 degrees of freedom'])
plt.legend(loc='upper right')

# Hypothesis Testing

In [0]:
df = pd.read_csv( path  + 'grades.csv')

In [0]:
df.head(10)

                             student_id  ...         assignment6_submission
0  B73F2C11-70F0-E37D-8B10-1D20AFED50B1  ...  2015-11-22 18:31:15.934000000
1  98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1  ...  2015-12-21 17:07:24.275000000
2  D0F62040-CEB0-904C-F563-2F8620916C4E  ...  2016-01-17 16:24:42.765000000
3  FFDF2B2C-F514-EF7F-6538-A6A53518E9DC  ...  2016-05-26 08:09:12.058000000
4  5ECBEEB6-F1CE-80AE-3164-E45E99473FB4  ...  2016-01-05 01:06:59.546000000
5  D09000A0-827B-C0FF-3433-BF8FF286E15B  ...  2016-01-20 19:54:46.166000000
6  3217BE3F-E4B0-C3B6-9F64-462456819CE4  ...  2016-03-23 14:02:00.987000000
7  F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F  ...  2016-02-18 08:35:04.796000000
8  C9D51293-BD58-F113-4167-A7C0BAFCB6E5  ...  2016-01-19 15:24:31.060000000
9  E2C617C2-4654-622C-AB50-1550C4BE42A0  ...  2016-03-30 20:33:13.554000000

[10 rows x 13 columns]

In [0]:
len(df)

2315

In [0]:
early = df[df['assignment1_submission'] <= '2015-12-31']
late = df[df['assignment1_submission'] > '2015-12-31']

In [0]:
early.mean()

assignment1_grade    74.972741
assignment2_grade    67.252190
assignment3_grade    61.129050
assignment4_grade    54.157620
assignment5_grade    48.634643
assignment6_grade    43.838980
dtype: float64

In [0]:
late.mean()

assignment1_grade    74.017429
assignment2_grade    66.370822
assignment3_grade    60.023244
assignment4_grade    54.058138
assignment5_grade    48.599402
assignment6_grade    43.844384
dtype: float64

In [0]:
from scipy import stats
stats.ttest_ind?

In [0]:
stats.ttest_ind(early['assignment1_grade'], late['assignment1_grade'])

Ttest_indResult(statistic=1.400549944897566, pvalue=0.16148283016060577)

In [0]:
late['assignment1_grade']

2       85.512541
3       86.030665
6       87.498744
7       80.576090
9       59.270882
          ...
2303    97.215052
2306    47.696703
2307    94.595758
2310    77.684611
2313    87.268366
Name: assignment1_grade, Length: 1059, dtype: float64

In [0]:
early['assignment1_grade']

0       92.733946
1       86.790821
4       64.813800
5       71.647278
8       66.595568
          ...
2308    71.481182
2309    82.640274
2311    75.367870
2312    73.269463
2314    80.318105
Name: assignment1_grade, Length: 1256, dtype: float64

In [0]:
stats.ttest_ind(early['assignment2_grade'], late['assignment2_grade'])

Ttest_indResult(statistic=1.3239868220912567, pvalue=0.18563824610067967)

In [0]:
stats.ttest_ind(early['assignment3_grade'], late['assignment3_grade'])

Ttest_indResult(statistic=1.7116160037010733, pvalue=0.08710151634155668)