<a href="https://colab.research.google.com/github/maab2198/applied_ds_python/blob/master/C_M1W2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Data Science in Python
##Week 2: Basic Data Processing with Pandas

# The Series Data Structure

In [0]:
import pandas as pd
pd.Series?

In [0]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

In [0]:
numbers = [1, 2, 3]
pd.Series(numbers)

In [0]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

In [0]:
numbers = [1, 2, None]
pd.Series(numbers)

In [0]:
import numpy as np
np.nan == None

In [0]:
np.nan == np.nan

In [0]:
np.isnan(np.nan)

In [0]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

In [0]:
s.index

In [0]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

In [0]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

# Querying a Series

In [0]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

In [0]:
s.iloc[3]

In [0]:
s.loc['Golf']

In [0]:
s[3]

In [0]:
s['Golf']

In [0]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [0]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

In [0]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

In [0]:
total = 0
for item in s:
    total+=item
print(total)

In [0]:
import numpy as np

total = np.sum(s)
print(total)

In [0]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

In [0]:
len(s)

In [0]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

In [0]:
%%timeit -n 100
summary = np.sum(s)

In [0]:
s+=2 #adds two to each item in s using broadcasting
s.head()

In [0]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

In [0]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

In [0]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

In [0]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

In [0]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [0]:
original_sports

In [0]:
cricket_loving_countries

In [0]:
all_countries

In [0]:
all_countries.loc['Cricket']

# The DataFrame Data Structure

In [0]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [0]:
df.loc['Store 2']

In [0]:
type(df.loc['Store 2'])

In [0]:
df.loc['Store 1']

In [0]:
df.loc['Store 1', 'Cost']

In [0]:
df['Item Purchased']

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

In [0]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [0]:
df.T

In [0]:
df.T.loc['Cost']

In [0]:
df['Cost']

In [0]:
df.loc['Store 1']['Cost'] #chaining -> create a copy, get 'Cost' from copy

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [0]:
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [0]:
df.drop('Store 1') #return copy without row

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.0

In [0]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [0]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.0

In [0]:
copy_df.drop?

In [0]:
del copy_df['Name']
copy_df

        Item Purchased  Cost
Store 2      Bird Seed   5.0

In [0]:
df['Location'] = None
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  22.5     None
Store 1  Kevyn   Kitty Litter   2.5     None
Store 2  Vinod      Bird Seed   5.0     None

In [0]:
df['Cost'] *= 0.8
df

          Name Item Purchased   Cost Location
Store 1  Chris       Dog Food  9.216     None
Store 1  Kevyn   Kitty Litter  1.024     None
Store 2  Vinod      Bird Seed  2.048     None

# Dataframe Indexing and Loading

In [0]:
costs = df['Cost']
costs

In [0]:
costs+=2
costs

In [0]:
df

In [0]:
!cat olympics.csv

In [0]:
df = pd.read_csv('olympics.csv')
df.head()

In [0]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

In [0]:
df.columns

In [0]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

# Querying a DataFrame

In [0]:
df['Gold'] > 0

In [0]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

In [0]:
only_gold['Gold'].count()

In [0]:
df['Gold'].count()

In [0]:
only_gold = only_gold.dropna()
only_gold.head()

In [0]:
only_gold = df[df['Gold'] > 0]
only_gold.head()

In [0]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

In [0]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

# Indexing Dataframes

In [0]:
df.head()

In [0]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

In [0]:
df = df.reset_index()
df.head()

In [0]:
df = pd.read_csv('census.csv')
df.head()

In [0]:
df['SUMLEV'].unique()

In [0]:
df=df[df['SUMLEV'] == 50]
df.head()

In [0]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

In [0]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

In [0]:
df.loc['Michigan', 'Washtenaw County']

In [0]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

# Missing values

In [0]:
df = pd.read_csv(path + 'log.csv')
df

In [0]:
df.fillna?

Object `df.fillna` not found.

In [0]:
from google.colab import drive
drive.mount('/content/drive')

KeyboardInterrupt: ignored

In [0]:
df = df.set_index('time')
df = df.sort_index()
df

In [0]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [0]:
df = df.fillna(method='ffill')
df.head()

NameError: ignored